/* might move all resume stuff here????? */

body {
  background-color: #f8f8f8;
  /* background-color: red;  */
  color: black;
  box-sizing: border-box;
  font-family: "Poiret One", cursive;
}

a {
  text-decoration: none;
}

/* stops resume links from having a white underline */
a:hover {
  /* color: white; */
  text-decoration: none;
}

/* keeps the white underline for the resume page nav */
#main-nav a:hover {
  color: white;
  text-decoration: underline;
}
