
@media (max-width: 600px) { 

    /* universal and all of one element */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:black;
    cursor:pointer;
}

li{
    list-style: none;
}

/* helpers */

.flex{
    display: flex;
}
body{
    background-color: pink;
}
#main-nav{
    font-size: 20px;
    padding:1em;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
/* top: 0; */
background-color: aqua;
width:100%;
}

#main-nav-ul{
    /* display: none; */
    /* display: flex; */
    width: 20%;
    /* justify-content: space-around; */
    
}

#main-nav-ul li{
    padding:2px;
    
}

/* only defined in smaller media query to make dropdown */
.display-none{
    
    display: none; 
    transition-duration: 500ms;
    transition-property: display;
}
.welcome{
    color:red;
    width:80%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#main-nav-ul::hover{
    display: inherit;
    /* display: flex; */
    /* width: 40%; */
    /* justify-content: space-around; */
    
}


}


